/result
/stress/l
*.log
*.pem
*.csr
/1
/niv
.haddock-ref
.*ndc
.*ndc-*-link
/design
/dist-newstyle
/result-2
/acid-flakes/
/.direnv/
/acid-flakes.bak/
/fetcher-raw-nix-cache/
/.fetcher-secret
#*
*.hs#
